/*	responsivecssgrid - Framework - please fork at https://github.com/fredrikkjellberg/responsivecssgrid
 *	by Fredrik Kjellberg (http://fredrikk.co/)
 *  License: http://creativecommons.org/licenses/MIT/	*/
 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	text-align: center;
	font-family: 'Exo', sans-serif;
	line-height: 1.5em;
	color: grey;
}
ol, ul {
	list-style: square;
	margin: 0 0 0.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
code {
	background-color: #f4f4f4;
	font-family: Menlo, 'Panic Sans', monospace;
	font-size: 0.875em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: bold;
}
p {
	margin: 0 0 0.5em;
	max-width: 634px;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
}

h1 {
	font-size: 3em;

}

h2 {
	font-size: 2em;

}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5, h6 {
	font-size: 1em;
}


a, a:link, a:visited {
	text-decoration: none;
	color: white;
}

a:hover, a:active {
	text-decoration: none;
	color: darkgray;
}

img {
	max-width: 100%;
}

img.desaturate{
-webkit-filter: grayscale(1); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
filter: gray; filter: grayscale(100%);
filter: url(desaturate.svg#greyscale);
}

/* displaytext */

.displaytext_dark {
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	text-align: center;
	color: grey;
	opacity: 1;
}

.displaytext_light {
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	text-align: center;
	color: white;
	opacity: 1;
}

.menu {
	height: 50px;
	background-color: lightblue;
}

.menu_logo {
	width: 20px;
	height: auto;
	display: block;
	float:left;
}

.menu_line {
	height: 3px;
	margin-bottom: 4px;
	width: 20px;
	background-color: black;
}

.menu_line:hover {
	height: 4px;
	margin-bottom: 3px;
}

.left_align {
	float: left;
	padding-left: 20px;
	padding-top: 17px;
}

.social_media img{
	display: inline;
	padding-right: 5px;
}

.social_media img:hover {
	opacity: 0.8;

}

.close a {
	font-size: 2em;
}
.line {
	padding-right: 10%;
	padding-left: 10%;
	float:center;
	width: 50%;
	height: 1px;
	background: white;
	border-bottom: 1px solid white;
}

.right_align {
	float:right;
	padding-right: 20px;
	padding-top: 15px;
	display: inline !important;
}

#menu_wrapper {
    height: 1000px;
    float: left;
    display: inline;
   	font-weight: 300;

	background-color: #1C1C1C;
    -webkit-transition: all 1s ease;
  	-moz-transition:    all 1s ease;
  	-o-transition:      all 1s ease;
}

#site_wrapper {
	width: 100%;
    height: auto;
    float: left;
    display: inline;

    -webkit-transition: all 1s ease;
  	-moz-transition:    all 1s ease;
  	-o-transition:      all 1s ease; 
}

.col_pix_fill_background {
	width: 100%;
	background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
}

.col_text {
	/* padding only for text*/
	width: 80%;
	height: 90%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding bottom: 5%;
	text-align: left;

}

.col_pix {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	height: 90%;
	padding-top: 5%;
	padding bottom: 5%;
	text-align: left;

}

/* colums */

/* 1 out of 1*/
.col_100 {
    width: 100%;
    height: auto;
    float: left;
    display: inline; 
}

/* 4 out of 5*/
.col_80 {
    width: 80%;
    height: auto;
    float: left;
    display: inline; 
}

/* 3 out of 4*/
.col_75 {
    width: 75%;
    height: auto;
    float: left;
    display: inline;  
}

/* 2 out of 3*/
.col_66 {
    width: 66.666%;
    height: auto;
    float: left;
    display: inline;  
}

/* 1 out of 2*/
.col_50 {
    width: 50%;
    height: auto;
    float: left;
    display: inline;  
}

/* 1 out of 3*/
.col_33_3 {
    width: 33.3333333%;
    height: auto;
    float: left;
    display: inline;  
}

/* 1 out of 4*/
.col_25 {
    width: 25%;
    height: auto;
    float: left;
    display: inline; 
}

/* 1 out of 5*/
.col_20 {
    width: 20%;
    height: auto;
    float: left;
    display: inline; 
}

/* 1 out of 6*/
.col_16_6 {
    width: 16.6666666%;
    height: auto;
    float: left;
    display: inline; 
}

/* 1 out of 8*/
.col_12_5 {
    width: 12.5%;
    height: auto;
    float: left;
    display: inline; 
}

.footer p {
	color: #666;
	text-align: center;
	max-width: none;
}

/* *********  portfolio spesific code ************* */


.color-wrap-intro {
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	text-align: center;
		
	/* Background */
	position: relative;
	bottom: -20em;
	top: 7em;
	height: auto;
	width: 100%;
	z-index: 0;
	
    -webkit-transition: all 0.4s ease;
  	-moz-transition:    all 0.4s ease;
  	-o-transition:      all 0.4s ease;
}

    .color-wrap-intro:hover img{
    
    size:120%;
    -webkit-transition: all 0.4s ease;
  	-moz-transition:    all 0.4s ease;
  	-o-transition:      all 0.4s ease;
    }

.wrapper {
	padding-left: 3%;
	max-width: 95%;
	padding-right: 30%;
}

.portfolio-wrapper {
		width: 400px;
}

.menu-wrapper {
	max-width: 10%;
}



/* @media for phone and screens */

/* Smartphones all ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	{
		font-size: 0.6em; 
		padding: 0; 
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width  : 320px) {
	{
		font-size: 0.6em; 
		padding: 0; 
	}

	/* all rows becomes 90% and will have 5% boarder all around */
	.col_100, .col_80, .col_75, .col_66, .col_50, .col_33_3, .col_25, .col_20, .col_16_6, .col_12_5 {   
		width: 90%; 
		padding-bottom: 5%;
		padding-top: 5%;
		padding-left: 5%;
		padding-right: 5%; 
	}
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width : 321px) and (max-device-width  : 480px) {
	{
		font-size: 0.6em; 
		padding: 0; 
	}
			/* all rows becomes 90% and will have 5% boarder all around */
		.col_100, .col_80, .col_75, .col_66, .col_33_3,.col_25, .col_25, .col_16_6 {   
		width: 90%; 
		padding-bottom: 5%;
		padding-top: 5%;
		padding-left: 5%;
		padding-right: 5%; 
	}

/* turns one row of 8 into 4 rows of 2
   turns one row of 4 into 2 rows of 2 
   turns one row of 2 into 1 rows of 2 ---------- */
	.col_25, .col_12_5, .col_50 {		
		width: 40%; 
		padding-bottom: 5%;
		padding-top: 5%;
		padding-left: 5%;
		padding-right: 5%; 
	}

}

/* iPads (portrait) ----------- */
@media screen and (min-width : 481px) and (max-device-width : 768px) {

	body { 
		font-size: 0.8em; padding: 0; 
	}

	/* all rows becomes 90% and will have 5% boarder all around */
	.col_100, ,.col_80, .col_75, .col_66, .col_50, .col_33, .col_20 {   
		width: 96%; 
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%; 
	}

	/* turns one row of 8 into 2 rows of 4 ----------- */
	.col_12_5 {		
		width: 20%; 
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%; 
	}

	/* turns one row of 6 into 2 rows of 3 ----------- */
	.col_16_6, {		
		width: 29.333333%; 
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%; 
	}
}


/* iPads (landscape) ----------- */
@media screen and (min-width: 769px) and (max-device-width : 1024px) {
	
	body { 
		font-size: 0.8em; padding: 0; 
	}

	/* all rows becomes 90% and will have 5% boarder all around */
	.col_100, .col_80, .col_75, .col_66, .col_20 {   
		width: 96%; 
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%; 
	}

	/* turns one row of 8 into 2 rows of 4 ----------- */
	.col_12_5, .col_25 {		
		width: 20%; 
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%; 
	}

	/* turns one row of 6 into 2 rows of 3 ----------- */
	.col_16_6, .col_33 {		
		width: 29.333333%; 
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%; 
	}
}

/* Desktops and laptops ----------- */
@media screen and (min-width : 1025px) and (max-width : 1824px) {

	body { 
		font-size: 1em; padding: 0; 
	}

	/* turns one row of 8 into 2 rows of 4 ----------- */
	.col_12_5 {		
		width: 20%; 
		padding-bottom: 2%;
		padding-top: 2%;
		padding-left: 2%;
		padding-right: 2%; 
	}
}

/* Large screens ----------- */
@media screen and (min-width: 1824px) {

		body { 
		font-size: 1.2em; padding: 0; 
	}
}





